* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.container {
  min-width: 1200px;
}

#header {
  min-width: 1600px;
  padding: 15px;
  background-color: #25292E;
}
#header i {
  color: white;
  font-size: 30px;
}
#header img {
  width: 7%;
}
#header .header-right i {
  font-size: 16px;
  text-align: right;
}
#header div.col-2.header-right {
  text-align: right;
}
#header #search {
  width: 90%;
  margin: 0 0 0 10px;
}
#header input {
  border-radius: 4px;
  background-color: #404448;
  border: none;
}
#header a {
  margin-right: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
#header a:hover {
  color: #9E9FA2;
  text-decoration: none;
}

.container {
  padding: 0;
}

#body button {
  border-radius: 4px;
  background-color: #EFF3F6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
#body button:hover {
  border-color: grey;
}
#body #new-button {
  color: white;
  background-color: #28A745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
}
#body #bio {
  padding-right: 40px;
  margin: 10px 0 0;
}
#body #bio #orgs-list {
  height: 45%;
  width: 45%;
  padding: 5px 5px 5px 0;
}
#body #bio .row {
  padding: 10px 0;
}
#body #bio .location {
  font-size: 14px;
  padding-bottom: 15px;
  border-bottom: thin solid #D2D5DA;
}
#body #bio h2 {
  font-weight: 300;
  font-size: 20px;
  color: #666666;
  line-height: 5pt;
}
#body #bio button {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}
#body #bio h1 {
  font-size: 28px;
}
#body #bio i {
  margin-right: 5px;
}
#body #bio h4 {
  font-size: 16px;
  margin: 0;
  padding-top: 10px;
}
#body #main {
  padding: 16px 8px;
}
#body #main .repo-nav a {
  color: #666C73;
  text-decoration: none;
  font-weight: 350;
  margin-right: 20px;
  padding: 16px 10px;
  border-bottom: 2pt solid transparent;
}
#body #main .repo-nav a div {
  display: inline;
  border: solid 1.5pt #EDEDED;
  font-size: 12px;
  padding: 0px 3px;
  border-radius: 10px;
  background-color: #EDEDED;
  font-weight: bold;
}
#body #main .repo-nav a.repos {
  border-bottom: solid 1.5pt #e36209;
  color: black;
  font-weight: 500;
}
#body #main .repo-nav a.repos:hover {
  border-bottom: solid 1.5pt #e36209;
  font-weight: 500;
}
#body #main .repo-nav a:hover {
  color: black;
  font-weight: 400;
  border-bottom: solid 1.5pt #D2D5DA;
}
#body #main input {
  width: 98%;
  border-radius: 4px;
  border: thin solid #D2D5DA;
  padding: 5px;
  font-size: 14px;
  float: left;
}
#body #main .repo-nav {
  border-bottom: thin solid #D2D5DA;
  font-size: 15px;
}
#body #main .search-bar {
  padding: 16px 0;
  text-align: center;
  border-bottom: thin solid #D2D5DA;
}
#body #main .search-bar button {
  font-size: 14px;
  width: 90%;
  padding: 5px;
  text-align: center;
}
#body #main .search-bar span {
  font-weight: normal;
}
#body #main #repo-list {
  display: block;
  border-bottom: thin solid #D2D5DA;
  margin: 0;
}
#body #main #repo-list div#repo-list.row.no-gutters {
  display: flex;
  padding: 24px 0;
}
#body #main #repo-list span {
  font-size: 12px;
  color: #666C73;
  margin: 0;
}
#body #main #repo-list span a {
  color: #666C73;
}
#body #main #repo-list span a:hover {
  color: #0366d6;
  text-decoration: none;
}
#body #main #repo-list span#description {
  font-size: 14px;
}
#body #main #repo-list .repo-lang-color {
  position: relative;
  color: black;
  background-color: #e44b23;
  top: 1px;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
#body #main #repo-list button {
  font-size: 14px;
  float: right;
}
#body #main #repo-list h3 a {
  color: #0366d6;
  font-size: 20px;
}
#body #main #repo-list .commit-stat {
  float: right;
}

#footer {
  padding: 40px 0;
  text-align: center;
}
#footer a i {
  color: #C7CBD1;
  font-size: 28px;
  padding-left: 95px !important;
  padding-right: 95px !important;
}
#footer a i:hover {
  color: grey;
}
#footer a {
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

/*# sourceMappingURL=styles.css.map */
